<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CRySTALServiceHost.Properties.Settings.CRySTALConnectionString"
      connectionString="Data Source=ETHIELE-LENOVO\SQLEXPRESS;Initial Catalog=CRySTAL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="CRySTAL.Service1Behavior" name="CRySTAL.CookService">
        <endpoint address="" binding="basicHttpBinding" contract="CRySTAL.ICookService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/CookService/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="CRySTAL.Service1Behavior" name="CRySTAL.BusBoyService">
        <endpoint address="" binding="basicHttpBinding" contract="CRySTAL.IBusBoyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/BusBoyService/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="CRySTAL.Service1Behavior" name="CRySTAL.HostService">
        <endpoint address="" binding="basicHttpBinding" contract="CRySTAL.IHostService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/HostService/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="CRySTAL.Service1Behavior" name="CRySTAL.LoginService">
        <endpoint address="" binding="basicHttpBinding" contract="CRySTAL.ILoginService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/LoginService/" />
          </baseAddresses>
        </host>
      </service>


      <service behaviorConfiguration="CRySTAL.Service1Behavior" name="CRySTAL.MenuService">
        <endpoint address="" binding="basicHttpBinding" contract="CRySTAL.IMenuService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/MenuService/" />
          </baseAddresses>
        </host>
      </service>


      <service behaviorConfiguration="CRySTAL.Service1Behavior" name="CRySTAL.WaiterService">
        <endpoint address="" binding="basicHttpBinding" contract="CRySTAL.IWaiterService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/WaiterService/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="CRySTAL.Service1Behavior" name="CRySTAL.ManagerService">
        <endpoint address="" binding="basicHttpBinding" contract="CRySTAL.IManagerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ManagerService/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="CRySTAL.Service1Behavior" name="CRySTAL.TimeCardService">
        <endpoint address="" binding="basicHttpBinding" contract="CRySTAL.ITimeCardService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/TimeCardService/" />
          </baseAddresses>
        </host>
      </service>
      
    </services>
    
    
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="CRySTAL.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>